:root{
    --oren : rgb(246, 255, 0);
}

.nav-image{
    background-color: rgb(203, 110, 5);
}

.text-with-image{
    background-image: url('/resources/images/itts-4.png');
    width: 20cm;
    height: 5cm;
    color: white;
    font-weight: bolder;
    padding-top: 1.2cm;
    padding-left: 1cm;
    font-family:Arial, Helvetica, sans-serif ;
    text-align: left;
    background-color: rgba(7, 0, 0, 0.5);
    opacity: 0.9;
}

.product-card{
    display: flex;
    justify-content: center;
    gap: 1cm;
    flex-wrap: wrap;
    max-width: 20cm;
}

.image-slide{
    margin-top: 0.5cm;
}

.images{
    width: 2cm;

}

nav{
    background-color: rgb(122, 66, 2);
    padding: 0;
    margin: 0;
}

.drink{
    margin-top: 1cm;
}
.snack{
    margin-top: 1cm;
}
.gallery{
    margin-top: 1cm;
}

.navbar{
    padding-top: 9px;
    padding-bottom: 0;
    justify-content: center;
}

ul{
    display: flex;
    gap: 45px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: x-large;
}

 li{
    list-style: none;
 }

 a:hover{
    color: rgb(180, 180, 180);
 }

 .slider{
    width: 750px;
    height: 46%;
    overflow: hidden;
    margin-top: 1cm;
}

.slides{
    width: 500%;
    height: 30%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1.3s;
}

.slide img{
    width: 100%;
    height: -60%;
}

/* css manual navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: 470px;
  display: flex;
  justify-content: center;
}

.manual-btn{
    border: 4px solid var(--oren);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    width: 1cm;
}

.manual-btn:not(:last-child){
    margin-right: 20px;

}

.manual-btn:hover{
    background: var(--oren);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -40%;
}

/* css auto navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 470px;
}

.navigation-auto div{
    border: 4px solid var(--oren);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    width: 1cm;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--oren);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--oren);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--oren);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--oren);
}
